@import "tailwindcss";
@theme {
    --font-rubik: 'Rubik Variable', sans-serif;
    --color-green: #037456;
    --color-darkgreen: #0E392B;
    --color-gray: #4D4D4D;
    --color-modal-bg: rgba(0, 0, 0, 0.8);
    --spacing-image300: 300px;
    --spacing-image500: 500px;
  }

body,
html {
    @apply overflow-x-hidden font-rubik; 
}
body {
    @apply relative scroll-smooth;
    &.no-scroll {
        @apply overflow-hidden h-full fixed w-full top-0 left-0;
    }
}
h1 {
    @apply text-2xl lg:text-5xl font-extrabold; 
}

h2 {
    @apply text-xl mb-3 lg:text-3xl font-extrabold; 
    &.section-title {
        @apply text-white bg-black py-4;
    }
}
h3,.h3 {
    @apply text-lg mb-3 lg:text-2xl font-semibold; 
}

p {
    @apply text-base font-normal;
}

ul:not(.menu) {
    @apply list-disc pl-5;
}

.subhead {
    @apply font-light italic block text-gray text-base lg:text-lg;
}
.container {
    @apply mx-auto px-10;
}
.container-xl {
    @apply mx-auto px-16;
}
.btn {
    @apply w-fit font-semibold inline-block;
    &.primary {
        @apply bg-green text-white py-2 px-2 rounded-lg;

        &:hover {
            @apply bg-darkgreen  transition-all duration-300 ease-in-out;
        }
    }
    &.secondary {
        @apply text-green py-2 px-2 relative;
        &:after {
            @apply absolute left-0 right-0 bottom-0 w-full h-0.5 bg-green;
            content: '';
            transition: transform 0.3s ease-in-out;
        }
        &:hover {
            &:after {
                @apply bottom-1;
            }
        }
    }
}

.nav-item {
    @apply text-lg;
    .nav-item--link {
        @apply pb-1 relative;
        &.active {
            @apply text-green;
        }
        &::after {
            @apply  left-0 right-0 bottom-0 w-full h-0.5 bg-white transition-all duration-300 ease-in-out;
            content: '';
        }
        &:hover {
            &::after {
                @apply absolute;
            }
        }
    }
    
}

.icon {
    @apply transition-all duration-300 ease-in-out;
    &:hover {
        path {
            @apply fill-green;
        } 

        &.down-arrow,
        &.up-arrow {
           path {
            @apply stroke-green fill-none;
           }
        }
    }
    &.fill-current {
        &.down-arrow,
        &.up-arrow {
            @apply stroke-current fill-none;
          } 
    }
}

.social {
    & svg {
        @apply w-5 lg:h-5;
    }
}

.arrow svg{
    @apply w-6;
}


.close svg,
.hamburger svg,
.arrow svg {
    @apply hover:cursor-pointer
}
.close svg,
.hamburger svg,
.modal-content svg {
    @apply w-7 h-7;
}

.modal {
    
    &.closed {
        @apply hidden;
    }

    &.open {
        @apply flex;
    }
    .modal-content {
        @apply overflow-y-scroll;
        svg {
            @apply absolute top-0 right-0;
        }
    }
}

.tab__button {
        @apply text-center font-bold text-lg py-2 px-4 rounded-lg;
        &.active {
            @apply bg-green text-white;
        }
        &:hover:not(.active) {
            @apply text-green;
        }
        a {
            @apply font-bold;
        }
}

.tab__item {
    @apply transform transition-all duration-300 ease-in-out;
    &.active {
        @apply flex;

        &.fallback {
            @apply block;
        }
    }
}

.image-wrapper {
    @apply w-full w-full max-w-image500 overflow-hidden;
}
