---
import NavItem from "./NavItem.astro";
import Icon from "./Icon.astro";

const navItems = [
  { href: "#portfolio", label: "Portfolio" },
  { href: "#about", label: "About" },
  { href: "#contact", label: "Contact" },
];
---

<footer class="relative">
  <div
    class="to-top absolute -top-16 right-4 hover:-translate-y-2 transition-transform duration-300 ease-in-out"
  >
    <a href="#home"><Icon name="chevronUp" /></a>
  </div>
  <div class="footer__content bg-black text-white p-4">
    <div class="footer__nav">
      {
        navItems.map((item, index) => (
          <NavItem
            href={item.href}
            label={item.label}
            class={index === navItems.length - 1 ? "open-modal" : ""}
          />
        ))
      }
    </div>
    <div class="footer__content--copyright">
      Copyright | Designed and Coded by Stephanie R Patton
    </div>
  </div>
</footer>
