---

---

<form action="#" id="contactForm" method="post">
  <input type="text" id="name" required="" />
  <label for="name" class="contact-name">Name</label>
  <input type="tel" id="phone" required="" />
  <label for="phone" class="contact-phone">Phone</label>
  <input type="email" id="email" required="" />
  <label for="email" class="contact-email">Email</label>
  <textarea id="message" placeholder="Message Here" required=""></textarea>
  <button type="submit" class="btn btn--dark">Submit</button>
</form>
