---
import NavItem from "./NavItem.astro";

import Icon from "./Icon.astro";

const navItems = [
  { href: "#portfolio", label: "Portfolio" },
  { href: "#about", label: "About" },
  { href: "#contact", label: "Contact" },
];
---

<header class="relative">
  <nav class="fixed right-0 z-50 w-full p-4">
    <div class="mobile__nav--icons">
      <div class="hamburger flex flex-col flex-wrap content-end lg:hidden">
        <Icon name="menu" />
      </div>
      <div class="close flex flex-col flex-wrap content-end hidden">
        <Icon name="close" />
      </div>
    </div>
    <div
      class="desktop__nav container hidden lg:flex lg:flex-row lg:justify-end lg:gap-4"
    >
      {navItems.map((item) => <NavItem href={item.href} label={item.label} />)}
    </div>

    <div
      class="mobile__nav container hidden flex flex-col flex-wrap justify-center content-center"
    >
      {navItems.map((item) => <NavItem href={item.href} label={item.label} />)}
    </div>
  </nav>
</header>

<script>
  import "../scripts/nav.js";
</script>
