---
// components
import Navigation from "./Navigation.astro";
import Icon from "./Icon.astro";
import Social from "../components/Social.astro";
---

<header id="main-menu" class="relative">
  <nav
    class="fixed top-0 left-0 right-0 z-50 w-full p-4 bg-black text-white shadow transition-transform duration-300"
  >
    <div class="mobile__nav--icons">
      <div class="hamburger flex flex-col items-end lg:hidden">
        <Icon name="menu" />
      </div>
      <div class="close flex flex-col items-end hidden">
        <Icon name="close" />
      </div>
    </div>
    <div class="desktop__nav hidden lg:flex justify-between items-center">
      <Social class="gap-3 my-2 content-center" />
      <Navigation
        class=""
        type="main"
        menuClass="px-4 flex flex-row justify-end gap-4"
      />
    </div>
    <div
      class="mobile__nav container hidden flex flex-col justify-center items-center"
    >
      <Navigation
        class="text-xl"
        type="main"
        menuClass="flex flex-col justify-center items-center pb-4"
      />
      <Social class="gap-4 py-4 border-t-1 items-center" />
    </div>
  </nav>
</header>

<script>
  import "../scripts/nav.js";
</script>
