---
// components
import Social from "../components/Social.astro";

const socialMedia = [
  {
    url: "https://github.com/StephanieRPatton",
    icon: "github",
  },
  {
    url: "https://www.linkedin.com/in/stephanierpatton/",
    icon: "linkedin",
  },
  {
    url: "https://www.instagram.com/stephanierpatton/",
    icon: "instagram",
  },
];
---

<section class="hero h-screen pt-24 grid">
  <div class="container">
    <h1>
      Hello, I'm Stephanie! <br />
      Shopify Developer & Digital Growth Strategist
    </h1>
    <p>I help elevate your brand to new heights</p>
    <div class="expertise">
      <p>Shopify</p>
      <p>Email Marketing</p>
      <p>Web Development</p>
      <p>Automation</p>
    </div>
    <div class="social flex gap-1.5 content-center">
      {
        socialMedia.map((social) => (
          <Social icon={social.icon} url={social.url} />
        ))
      }
    </div>
    <a class="btn px-2 py-2 bg-green-600 text-white" href="#">Let's Chat</a>
  </div>
</section>
