---
export interface Props {
  title: string;
  isOpen?: boolean;
}
// props
const { title, isOpen = false } = Astro.props;

import Icon from "./Icon.astro";
---

<div
  class={`modal ${isOpen ? "open" : "closed"} fixed h-full w-full top-0 left-0 z-50 bg-modal-bg flex justify-center items-center`}
>
  <div class="modal-content bg-white p-4 rounded-xl w-4/5 h-4/5">
    <header class="modal-header relative p-2">
      <h2 class="text-center">{title}</h2>
      <div class="close">
        <Icon name="close" />
      </div>
    </header>

    <div class="modal-body">
      <slot />
    </div>
  </div>
</div>

<script>
  import "../scripts/modal.js";
</script>
