---

---

<nav class="flex flex-col justify-center content-center flex-wrap lg:flex-row lg:justify-end lg:gap-4 ">
    <a class="nav-item" href="">Portfolio</a>
    <a class="nav-item" href="">About</a>
    <a class="nav-item" href="">Contact</a>
</nav>