---
import TabItem from "./TabItem.astro";
//data
import { portfolioTabs } from "@data//tabs";

interface Props {
  type: string;
  active?: boolean;
  class?: string;
}
const { type, active = false, class: customClass = "" } = Astro.props;
---

{
  portfolioTabs.map((tab) => (
    <div class={`tab__item ${customClass}`} data-target={tab.type}>
      <TabItem
        type={tab.type}
        label={tab.label}
        active={active && tab.type === type}
      />
    </div>
  ))
}
