---
interface Props {
  name: string;
  class?: string;
}
import { iconMap } from "@data/icons";

const { name, class: customClass = "" } = Astro.props;
const IconComponent = iconMap[name];
---

{
  IconComponent ? (
    <IconComponent class={`icon fill-current ${customClass}`} />
  ) : (
    <div class="missing-icon">Icon {name} not found</div>
  )
}
