---
import Modal from "./Modal.astro";
//content
import { getCollection, render } from "astro:content";
const legalContent = await getCollection("legal");
const privacyPolicy = legalContent[0];
const { Content } = await render(privacyPolicy);
---

<Modal title="Privacy Policy" modalType="privacy" isOpen={false}>
  <div class="my-6 w-10/12 mx-auto">
    <Content />
  </div>
</Modal>
