---
import { socialMedia } from "@data/social";
const { class: customClass = "" } = Astro.props;

interface Props {
  class?: string;
}

//Icons
import Icon from "./Icon.astro";
---

<div class={`social flex ${customClass}`}>
  {
    socialMedia.map((social) => (
      <a
        href={social.url}
        target="_blank"
        rel="noopener noreferrer"
        class="social__icon"
      >
        <Icon name={social.icon} />
      </a>
    ))
  }
</div>
